{% extends 'base.html.twig' %}

{% block title %}Les Biens
{% endblock %}

{% block body %}
	<h1>Annonces immobilieres : Toute la France</h1>


	<a href="{{ path('biens_new') }}">Creer un nouveau bien</a>
	<section class="py-5">
		<div class="container px-2 px-lg-2 mt-2">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

				{%  for bien in biens %}
					<div class="col mb-5">
						<div
							class="card h-100">
							<!-- Sale badge-->
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image  src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" -->


							{% for image in bien.images %}

								<div>
									<img class="card-img-top" src="{{ asset('/uploads/' ~ image.nom) }}" alt="Image" width="150">

								</div>
							{% endfor %}
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">
										<a href="{{ path('biens_show', {'id': bien.id}) }}" role="button">{{bien.title}}</a>
									</h5>
									<!-- Product reviews-->
									<div class="d-flex justify-content-center small text-warning mb-2">
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
									</div>
									<!-- Product price-->
									<span class="text-muted text-decoration-line-through">$20.00</span>
									$18.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<span class="text-muted text-decoration-line-through">aucun enregistrement trouver</span>

				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
