{% extends 'base.html.twig' %}

{% block title %}nouveau Bien
{% endblock %}

{% block body %}
	<h1>Creer un nouveau Bien</h1>

	{{ include('biens/_form.html.twig') }}

	<a href="{{ path('biens_index') }}">Retour à la liste</a>
{% endblock %}
